<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:fragment="footer">
<footer id="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="widget widget_contact">
          <h3 class="widget_title">Where We Are ?</h3>
          <p>Rikkei Academy</p>
          <ul>
            <li>
              <span>Address :</span>
              Tầng 7, khối A tòa nhà Sông Đà, đường Phạm Hùng, Phường Mỹ Đình 1, Quận Nam Từ Liêm, Thành phố Hà Nội.
            </li>
            <li>
              <span>Support :</span>Support Telephone No : 0123456789
            </li>
            <li>Support Email Account : info@example.com</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="widget widget_social">
          <h3 class="widget_title">Find Us</h3>
          <ul>
            <li class="rss-subscribers">
              <a href="#" target="_blank">
                <strong>
                  <i class="icon-rss"></i>
                  <span>Subscribe</span><br>
                  <small>To RSS Feed</small>
                </strong>
              </a>
            </li>
            <li class="facebook-fans">
              <a href="#" target="_blank">
                <strong>
                  <i class="social_icon-facebook"></i>
                  <span>2,000</span><br>
                  <small>People like it</small>
                </strong>
              </a>
            </li>
            <li class="twitter-followers">
              <a href="#" target="_blank">
                <strong>
                  <i class="social_icon-twitter"></i>
                  <span>7,000</span><br>
                  <small>Followers</small>
                </strong>
              </a>
            </li>
            <li class="youtube-subs">
              <a href="#" target="_blank">
                <strong>
                  <i class="icon-play"></i>
                  <span>4,000</span><br>
                  <small>Subscribers</small>
                </strong>
              </a>
            </li>
          </ul>
        </div>

      </div>


    </div><!-- End row -->
  </section><!-- End container -->
</footer><!-- End footer -->
<footer id="footer-bottom">
  <section class="container">
    <div class="copyrights f_left">Copyright Ask me</div>
    <div class="social_icons f_right">
      <ul>
        <li class="twitter"><a original-title="Twitter" class="tooltip-n" href="#"><i class="social_icon-twitter font17"></i></a></li>
        <li class="facebook"><a original-title="Facebook" class="tooltip-n" href="#"><i class="social_icon-facebook font17"></i></a></li>
        <li class="gplus"><a original-title="Google plus" class="tooltip-n" href="#"><i class="social_icon-gplus font17"></i></a></li>
        <li class="youtube"><a original-title="Youtube" class="tooltip-n" href="#"><i class="social_icon-youtube font17"></i></a></li>
        <li class="skype"><a original-title="Skype" class="tooltip-n" href="skype:#?call"><i class="social_icon-skype font17"></i></a></li>
        <li class="flickr"><a original-title="Flickr" class="tooltip-n" href="#"><i class="social_icon-flickr font17"></i></a></li>
        <li class="rss"><a original-title="Rss" class="tooltip-n" href="#"><i class="social_icon-rss font17"></i></a></li>
      </ul>
    </div><!-- End social_icons -->
  </section><!-- End container -->
</footer><!-- End footer-bottom -->
</body>
</html>