<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Main Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Skins -->
    <link rel="stylesheet" th:href="@{/css/skins/blue.css}">

    <!-- Responsive Style -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">

</head>

</html>