<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Question</title>
  <th:block th:insert="/fragment/head::head"></th:block>
</head>
<body>




<div id="wrap" class="grid_1200">
  <th:block th:insert="fragment/header::hh"></th:block>


  <section class="container main-content" style="margin-top: 70px">
    <div class="row">
      <div class="col-md-9">

        <div class="page-content ask-question">
          <div class="boxedtitle page-title"><h2>Edit Question</h2></div>


          <div class="form-style form-style-3" id="question-submit">
            <form th:action="@{/questions/update}" th:object="${editQuest}" method="post" enctype="multipart/form-data">
              <input type="hidden" th:field="*{questId}">
              <div class="form-inputs clearfix">
                <p>
                  <label class="required">Title<span>*</span></label>
                  <input type="text" id="question-title" th:field="*{title}">

                </p>

                <p>
                  <label class="required">Category<span>*</span></label>
                  <span class="styled-select">
                  <select name="categoryId">

                    <option th:each="category : ${categories}" th:field="*{categoryId}" th:value="${category.id}" th:text="${category.name}" th:selected="${category.id == editQuest.categoryId}"></option>
                  </select>

                </span>

                </p>

                <div class="clearfix"></div>

                <label>Attachment</label>
                <div th:if="${question.image != ''}">
                  <img th:src="@{|/image/${question.image}|}" alt="image">
                </div>
                <input type="file" th:field="*{image}">


              </div>
              <div id="form-textarea">
                <p>
                  <label class="required">Details<span>*</span></label>
                  <textarea id="question-details" aria-required="true" cols="58" rows="8" th:field="*{body}"></textarea>
                </p>
              </div>
              <p >
                <input type="submit" value="Update question"
                       class="button color small submit">
              </p>
            </form>
          </div>
        </div><!-- End page-content -->
      </div><!-- End main -->
      <th:block th:insert="fragment/sidebar::sidebar"></th:block>
    </div><!-- End row -->
  </section><!-- End container -->

  <th:block th:insert="fragment/footer::footer"></th:block>

</div><!-- End wrap -->


<th:block th:insert="fragment/script::script"></th:block>

</body>
</html>